<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up - KidZora</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="container">
    <h1 class="logo">KidZora</h1>
    <h2>Sign Up</h2>
        <form id="signupForm" action="/signup" method="POST">
            <input type="text" id="name" name="name" placeholder="Enter Name" required />
            <input type="email" id="email" name="email" placeholder="Enter Email Address" required />
            <input type="password" id="password" name="password" placeholder="Enter Password" required />
            <input type="password" id="re_password" name="re_password" placeholder="Re-Password" required />
            <div class="btn-wrapper">
              <a href="{{ url_for('login') }}" class="btn_signup">Sign Up</a>
            </div>

         </form>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

  </div>
</body>
</html>
